{
    "name": "{{ explorerVersion }}",
    "config": {
        "main" : "com.opendigitaleducation.explorer.Explorer",
        "sql": true,
        "delete-folder-definitely": true,
        "delete-folder-cron": "0 0 5 * * ? *",
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "port" : 8068,
        "auto-redeploy": false,
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "app-name" : "Explorer",
        "app-address" : "/explorer",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "userbook-host": "https://{{ host }}",
        "mode": "prod",
        "max-workertime-minutes":15,
        "stream": "redis",
        "create-index": {{explorerCreateIndex | default(true)}},
        "enable-job": {{explorerEnableJob | default(true)}},
        "worker-job": {{explorerWorkerJob | default(true)}},
        "elasticsearchConfig":{
            "uris": {{explorerEsUris}},
            "index": "{{explorerEsIndex}}"
        },
        "ingest":{
            "consumer-block-ms": 0,
            "max-attempt": 10,
            "batch-size": 100,
            "max-delay-ms": 2000
        },
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        },
        "applications": {
            "blog": {
                "filters": [
                    {"id":"owner",  "defaultValue": true},
                    {"id":"public", "defaultValue": false},
                    {"id":"shared", "defaultValue": true}
                ],
                "orders": [
                    {"id":"name", "defaultValue": "asc", "i18n": "explorer.sorts.name"},
                    {"id":"updatedat", "i18n": "explorer.sorts.updatedat"}
                ],
                "actions": [
                    {"id": "open","workflow":"org.entcore.blog.controllers.BlogController|blog", "target": "actionbar", "right": "read"},
                    {"id": "edit","workflow":"org.entcore.blog.controllers.BlogController|blog", "target": "actionbar", "right": "manage"},
                    {"id": "create","workflow":"org.entcore.blog.controllers.BlogController|create"},
                    {"id": "createPublic","workflow":"org.entcore.blog.controllers.BlogController|createPublicBlog"},
                    {"id": "move","workflow":"org.entcore.blog.controllers.BlogController|blog", "target": "actionbar", "right": "read"},
                    {"id": "delete","workflow":"org.entcore.blog.controllers.BlogController|blog", "target": "actionbar", "right": "manage"},
                    {"id": "publish","workflow":"org.entcore.blog.controllers.BlogController|publish", "target": "actionbar", "right": "creator"},
                    {"id": "print","workflow":"org.entcore.blog.controllers.BlogController|print", "target": "actionbar", "right": "read"},
                    {"id": "share","workflow":"org.entcore.blog.controllers.BlogController|blog", "target": "actionbar", "right": "manage"}
                ],
                "rights":{
                    "read": "org-entcore-blog-controllers-BlogController|get",
                    "contrib": "org-entcore-blog-controllers-BlogController|update",
                    "manage": "org-entcore-blog-controllers-BlogController|delete"
                }
            },
            "exercizer": {
                "filters": [
                    {"id":"owner",  "defaultValue": true},
                    {"id":"public", "defaultValue": false},
                    {"id":"shared", "defaultValue": true}
                ],
                "orders": [
                    {"id":"name", "defaultValue": "asc", "i18n": "explorer.sorts.name"},
                    {"id":"updatedat", "i18n": "explorer.sorts.updatedat"}
                ],
                "actions": [
                    {"id": "create","workflow":"fr.openent.exercizer.controllers.SubjectController|persist"},
                    {"id": "import","workflow":"fr.openent.exercizer.controllers.SubjectController|importSubjectGrains"},
                    {"id": "publish","workflow":"fr.openent.exercizer.controllers.SubjectController|publish"},
                    {"id": "list","workflow":"fr.openent.exercizer.controllers.SubjectController|listSubject"},
                    {"id": "view","workflow":"fr.openent.exercizer.controllers.SubjectController|view"}
                ],
                "rights":{
                    "read": "com-thecodingmachine-inca-controllers-ThematicController|list",
                    "contrib": "fr-openent-exercizer-controllers-SubjectController|canSchedule",
                    "manage": "fr-openent-exercizer-controllers-SubjectController|remove"
                }
            }
        }
    }
}