{
    "name": "{{ explorerVersion }}",
    "config": {
        "main" : "com.opendigitaleducation.explorer.Explorer",
        "sql": true,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "port" : 8068,
        "auto-redeploy": false,
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "app-name" : "Explorer",
        "app-address" : "/explorer",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "userbook-host": "https://{{ host }}",
        "mode": "prod",
        "max-workertime-minutes":15,
        "stream": "redis",
        "create-index": {{explorerCreateIndex | default(true)}},
        "elasticsearchConfig":{
            "uris": {{explorerEsUris}},
            "index": "{{explorerEsIndex}}"
        },
        "ingest":{
            "consumer-block-ms": 0,
            "max-attempt": 10,
            "batch-size": 100,
            "max-delay-ms": 45000
        },
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        },
        "applications": {
            "blog": {
                "filters": [
                    {"id":"owner",  "defaultValue": true},
                    {"id":"public", "defaultValue": false},
                    {"id":"shared", "defaultValue": true}
                ],
                "orders": [
                    {"id":"name", "defaultValue": "asc", "i18n": "explorer.sorts.name"},
                    {"id":"updatedat", "i18n": "explorer.sorts.updatedat"}
                ],
                "actions": [
                    {"id": "open","workflow":"org.entcore.blog.controllers.BlogController|blog"},
                    {"id": "create","workflow":"org.entcore.blog.controllers.BlogController|create"},
                    {"id": "createPublic","workflow":"org.entcore.blog.controllers.BlogController|createPublicBlog"},
                    {"id": "move","workflow":"org.entcore.blog.controllers.BlogController|create"},
                    {"id": "delete","workflow":"org.entcore.blog.controllers.BlogController|create"},
                    {"id": "publish","workflow":"org.entcore.blog.controllers.BlogController|publish"},
                    {"id": "print","workflow":"org.entcore.blog.controllers.BlogController|print"}
                ]
            }
        }
    }
}