<!doctype html>
<html ng-controller="appCtrl as app" lang="[[app.currentLanguage]]" with-theme>

	<head>
		<title>[[app.lang.translate('explorer.title')]]</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha512-CjpXuCK2f47gfxIjQvOwKRVGj01yHWI5qdMTO0qzERireNL30uf+fXLeZ5OxKGDj7r8xpRK4XVxgqXhBbW8Tbg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.7.9/angular-route.min.js" integrity="sha512-xI+5CA/dWcCSEtcnBohNOo6SuqCjePmu4fOqPYOp70rhpbzd+KBYJPclQCsSX3iBc/Qe3s8LITKixOy1gZCGwg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.9/angular-sanitize.min.js" integrity="sha512-eY2WqVT7O50HLSp/1/tZOUWYlAcPUl+WH3wu5NynvKNV5l/sKowxffGe1I91y3AuMvpyVvevOBOA3LEOBaemTw==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>

		<script>if(typeof window!=='undefined'){window.entcore=window.entcore||{};window.entcore["deploymentTag"]='{{#modVersion}}deployment-tag{{/modVersion}}';}</script>
		<script src="/assets/js/ode-ts-client/ode-ts-client.js?version={{#modVersion}}ode-ts-client{{/modVersion}}" type="text/javascript"></script>
		<script src="/assets/js/ode-ngjs-front/ode-ngjs-front.js?version={{#modVersion}}ode-ngjs-front{{/modVersion}}" type="text/javascript"></script>
		<script type="text/javascript" src="/explorer/public/dist/application.js"></script>
	</head>

<body id="explorer">
  <ode-portal app="explorer" name="[[app.lang.translate('explorer.title')]]" ode-modal-container>

  <div class="container d-flex">
    <!-- SIDEBAR -->
    <aside class="sidebar sidebar--left">
      <h1 class="sidebar__title">Blog</h1>
      <ul class="sidebar__tree">
        <li><a class="active" href=""><i class="ic-app blog"></i> Mes blogs</a>
          <ul>
            <li><a href="">Dossier 1</a></li>
            <li><a href="">Dossier 2</a>
              <ul>
                <li><a href="">Sous-dossier 1</a></li>
                <li><a href="">Sous-dossier 2</a></li>
                <li><a href="">Sous-dossier 3</a></li>
                <li><a href="">Sous-dossier avec un nom très long</a></li>
              </ul>
            </li>
            <li><a href="">Dossier 3</a>
              <ul>
                <li><a href="">Sous-dossier 1</a></li>
                <li><a href="">Sous-dossier 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href=""><i class="fas fa-trash-alt"></i> Ma corbeille</a></li>
      </ul>
      <a class="btn btn-outline-secondary btn-block"><i class="fas fa-folder-plus"></i> Créer un dossier</a>
      <a class="btn btn-outline-secondary btn-block"><i class="fas fa-file-import"></i> Importer</a>
    </aside>
    <!-- MAIN CONTENT -->
    <main class="main-content">
      <section class="explorer">
        <section class="explorer-header">

          <form class="row justify-content-between mb-2 d-none d-sm-none d-md-none d-lg-flex">
            <div class="col-lg-6 input-searchbar">
              <i class="ic-search form-control-feedback"></i>
              <input type="search" class="form-control" id="" placeholder="Rechercher un blog">
            </div>
            <div class="col-auto">
              <a class="btn btn-primary px-4" data-toggle="modal" data-target="#createRessource">Créer un blog</a>
            </div>
          </form>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h2 class="text-truncate">Mes blogs</h2>
            <div class="filters d-flex">
              <button class="btn d-block d-sm-block d-md-none" type="button">
                <i class="ic-search"></i>
              </button>
              <div class="dropdown">
                <button class="btn dropdown-toggle d-none d-sm-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-filter"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item active" href="#">
                    <input type="checkbox" aria-label="">
                    <i class="ic-user"></i>
                     Mes blogs</a>
                  <a class="dropdown-item" href="#">
                    <input type="checkbox" aria-label="">
                    <i class="ic-users"></i>
                     Les blogs partagés avec moi
                  </a>
                  <a class="dropdown-item" href="#">
                    <input type="checkbox" aria-label="">
                    <i class="ic-public"></i>
                     Blogs public
                    </a>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-sort-alpha-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Ordre alphabétique</a>
                  <a class="dropdown-item active" href="#">Dernière modification</a>
                </div>
              </div>
              <a class="btn" href="explorer.html"><i class="fas fa-th-large"></i></a>
            </div>
          </div>
        </section>
        
        <section class="explorer-view explorer__view list">
          <section class="list__header">
            <span class="list__item--preview"></span>
            <span class="list__title"><i class="fas fa-sort"></i> Titre</span>
            <span class="list__status text-white">Status</span>
            <span class="list__owner"><i class="fas fa-sort"></i> Propriétaire</span>
            <span class="list__modification"><i class="fas fa-sort"></i> Dernière modification</span>
          </section>
          <article class="list__item folder">
            <i class="list__item--preview ic-folder text-secondary"></i>
            <h2 class="list__title">
              Titre du dossier
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <span>Moi</span>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 heures</span><br/>
              <span class="list__modifiedBy">Moi</span>
            </div>
          </article>

          <article class="list__item item active">
            <span class="list__item--preview">
              <img class="list__image" src="https://loremflickr.com/100/100/">
            </span>
            <h2 class="list__title">
              Titre de la ressource avec une image
            </h2>
            <div class="list__status">
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Isabelle Polonio</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 3 jours</span><br/>
              <span class="list__modifiedBy">par <a>Brigitte Fontaine</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource avec une icône
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Isabelle Polonio</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 1 semaine</span><br/>
              <span class="list__modifiedBy">par <a>Alain Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <article class="list__item">
            <i class="list__item--preview ic-app blog text-secondary"></i>
            <h2 class="list__title">
              Titre de la ressource
            </h2>
            <div class="list__status">
              <span title="Ressource public"><i class="ic-public"></i></span>
              <span title="Ressource partagée"><i class="ic-users"></i></span>
            </div>
            <article class="list__owner">
              <img class="avatar avatar--25" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" />
              <a>Brigitte Fontaine</a>
            </article>

            <div class="list__modification">
              <span class="">Il y a 2 semaines</span><br/>
              <span class="list__modifiedBy">par <a>Alex Terrieur</a></span>
            </div>
          </article>
          <div class="d-flex m-2 justify-content-center" style="flex-basis: 100%;">
            <a class="btn btn-secondary">Charger plus de ressources (20)</a>
          </div>
        </section>

        <!-- TOASTER -->
        <div class="toaster d-none">
          <a class="d-mobile-none" href="">Ouvrir</a>
          <a href="">Propriétés</a>
          <a href="">Déplacer</a>
          <a href="">Dupliquer</a>
          <a class="d-mobile-none" href="">Exporter</a>
          <a href="">Partager</a>
          <a class="d-mobile-none" href="">Commenter</a>
          <a class="d-mobile-none" href="">Imprimer</a>
          <a class="d-mobile-none" href="">Publier dans la bibliothèque</a>
          <a href="">Supprimer</a>
        </div>
      </section>
    </main>
  </div>
  <ode-infotips></ode-infotips>
  </ode-portal>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
  </script>
</body>
</html>
