{
    "name": "{{ explorerVersion }}",
    "config": {
        "main" : "com.opendigitaleducation.explorer.Explorer",
        "sql": true,
        "delete-folder-definitely": true,
        "clean-folder-cron": "0 0 5 * * ? *",
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "port" : 8068,
        "auto-redeploy": false,
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "app-name" : "Explorer",
        "app-address" : "/explorer",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "userbook-host": "https://{{ host }}",
        "mode": "prod",
        "max-workertime-minutes":15,
        "stream": "redis",
        "create-index": {{explorerCreateIndex | default(true)}},
        "enable-job": {{explorerEnableJob | default(true)}},
        "worker-job": {{explorerWorkerJob | default(true)}},
        "elasticsearchConfig":{
            "uris": {{explorerEsUris}},
            "poolSize": {{explorerEsPoolSize | default(16)}},
            "keepAlive": {{explorerEsKeepAlive | default('true')}}
        },
        "indexes": {{explorerIndexes | default({})}},
        "index-prefix": "{{explorerIndexPrefix | default("recette-")}}",
        "ingest":{
            "consumer-block-ms": 0,
            "max-attempt": 10,
            "batch-size": 100,
            "max-delay-ms": 2000,
            "messageTransformers": [{"id": "htmlAnalyse", "minLength": 0}]
        },
        "migrate-task":{
            "enabled": {{ explorerMigrateTaskEnabled | default('false') }},
            "cron": "{{ explorerMigrateTaskCron | default('0 30 5 * * ? *') }}",
            "drop-before-migrate": {{ explorerMigrateTaskDrop | default('true') }},
            "migrate-old-folder": {{ explorerMigrateTaskOldFolder | default('true') }},
            "migrate-new-folder": {{ explorerMigrateTaskNewFolder | default('true') }}
        },
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        },
        "applications": ["blog", "exercizer"]
    }
}